@font-face {
    font-family: 'Quicksand';
    src: url('../../fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'League_Spartan';
    src: url('../../fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

:root {
    --font-system: League_Spartan;
    --color1: #626fa7;
    --color2: #FFFFFF;
    --color3: #F9C784;
    --color4: #FCAF58;
    --color5: #FF8C42;
    --color6: #ff9f4b;
}
html,
body {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #000;
}

body {
    background-color: var(--color3);
    padding: 0px 0px;
    font-family: var(--font-system);
    font-style: normal;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

header,
nav {
    padding: 0 15px;
    background-color: var(--color1);
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 15px;
    flex-wrap: wrap;
}

header img {
    width: 95px;
    margin-left: 20px;
}

header h1 {
    font-size: clamp(12px, 1vw, 24px);
}

header .buscador {
    border: solid 2px #8993BD;
    padding: 3px;
    font-size: clamp(12px, 1vw, 24px);
    display: flex;
    gap: 10px;
    border-radius: 20px;
    padding: 3px 10px;
    margin: 0 auto;
    width: 48%;
    background-color: var(--color2);
}

header .buscador i {
    font-size: 1rem;
    display: flex;
    align-items: center;

}

header .buscador input {
    font-size: clamp(12px, 1vw + 0.5rem, 18px);
    border: none;
    border-radius: 8px;
    color: #292929;
    background-color: transparent;
    flex: 1;
    max-width: 95%;
}

header .buscador input:focus {
    outline: none;
}

.botones {
    display: flex;
    gap: 10px;
    padding: 3px;
}


.botones a:nth-child(even) {
    background-color: transparent;
}

.botones a {
    text-decoration: none;
    color: #000;
    background-color: var(--color5);
    ;
    padding: 5px;
    font-size: clamp(14px, 2vw + 1rem, 18px);
}

/*Iniciar Sesion*/
.botones a:nth-child(1) {
    border-radius: 5px;
    font-size: 1.3rem;
    color: var(--color2);
    font-weight: 600;
}

nav {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li {
    cursor: pointer;
    position: relative;
}

nav ul li a::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
}

nav ul li a {
    border-bottom: solid 1px transparent;
    transition:border  0.1s ease-in;
    color: var(--color2);
    font-size: 2rem;
}

nav ul li a:hover {
    border-bottom: var(--color2) 1px solid;
    text-shadow: 0 0 20px #00000020;
}

nav ul li.active a{
    font-weight: 700;
    text-shadow: 0 0 20px #00000042;
    border-bottom: var(--color2) 2px solid;
}


main {
    background-color: var(--color3);
}


main{
    max-width: 3000px;
}
/*=======================Login.html=========================*/

#mainLogin {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 10px 0;
}

#mainLogin aside,
#mainLogin section {
    padding: 10px;
}

#mainLogin aside {
    background-color: var(--color1);
    width: 50%;
    min-height: 480px;
    max-height: 800px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#mainLogin.registroA {
    flex-direction: row-reverse;
}

#mainLogin aside#login {
    border-radius: 0px 40% 40% 0px;
}

#mainLogin aside#register {
    border-radius: 40% 0 0 40%;
}


#mainLogin aside h1,
#mainLogin aside .mensaje span {
    display: block;
    width: 100%;
    color: var(--color2);
}

#mainLogin h1 {
    font-size: 2rem;
    text-align: center;
}

#mainLogin aside .mensaje {
    padding: 5px 10px 40px;
    font-size: 0.9rem;
    width: 70%;
}

#mainLogin aside .mensaje span {
    font-size: clamp(14px, 0.9vw + 0.35rem, 32px);
    text-align: center;
}

#mainLogin section {
    margin: 50px 0px;
    flex: 1;
    position: relative;
    display: none;
    flex-direction: column;
}

#mainLogin section img {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 5%;
    top: 0;
}


#mainLogin.registroA section {
    align-items: end;
}

#mainLogin.registroA section img {
    left: 5%;
}


#mainLogin section span,
#mainLogin section h1,
#mainLogin section .form {
    width: 70%;
    margin: 0 0 0 40px;
}

#mainLogin.registroA section span,
#mainLogin.registroA section h1,
#mainLogin.registroA section .form {
    width: 70%;
    margin: 0 40px 0 0px;
}

#mainLogin section span {
    display: block;
    margin: 10px 0 25px;
}

#mainLogin section span a {
    cursor: pointer;
}

#mainLogin section h1 {
    font-size: 2.6rem;
}


#mainLogin section .form {
    display: flex;
    flex-direction: column;
}

#mainLogin section .form label {
    margin: 0 3px 5px;
}

#mainLogin section .form input {
    margin-bottom: 20px;
    padding: 10px 8px;
    font-size: 1rem;
}

#mainLogin section .form button {
    height: 40px;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
}


#mainLogin aside.active {
    display: flex;
}

#mainLogin section.active {
    display: flex;
}

/*=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=*/



/*=======================Inicio.html=========================*/

#mainInicio {
    display: flex;
    flex: 1;
    width: 100%;
    margin: 0 auto;
}

#mainInicio .catalogo {
    padding: 50px 30px 30px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 10px
}

#mainInicio .catalogo .categorias {
    flex: 1;
    min-width: 170px;
    max-width: 600px;
    width: max-content;
    position: relative;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    ;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#mainInicio .catalogo .categorias:hover {
    flex-grow: 1.2;
    min-width: (200px, 25vw, 500px);
}


#mainInicio .catalogo .categorias img {
    display: block;
    width: 100%;
    height: clamp(150px, 25vw, 500px); /* 350px */
    border-radius: 20px;
    border: solid 1px;
    object-fit: cover;
}


#mainInicio .catalogo .categorias a {
    width: max-content;
    margin: 0 auto;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 600;
}

/*=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=*/


/*=======================catalogo.html=========================*/

#mainCatalogo {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 50px 30px 30px;
    align-items: start;
}

#mainCatalogo h4{
    width: 100%;
    text-align: center;
    font-size: clamp(8px, 1vw + 1.5rem, 48px);
    padding: 0 0 20px;
}

#mainCatalogo aside{
    width: 230px;
    margin-right: 30px;
    background-color: #ffffff42;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 40px;
}

#mainCatalogo aside input{
    padding: 5px 10px;
    font-size: 0.9rem;
}

#mainCatalogo aside ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#mainCatalogo aside ul li{
    padding: 5px 0;
    width: 100%;
    text-align: center;
    border: solid 2px;
    color: #fff;
    font-size: 1.4rem;
    display: flex;
}
#mainCatalogo aside ul li a{position: relative; flex:1;}

#mainCatalogo section{
    background-color: #00000042;
    overflow: auto;
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

#mainCatalogo section .categorias {display: none;}
#mainCatalogo section .categorias.active {display: flex; flex: 1;}

#mainCatalogo section{
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
}

#mainCatalogo section .categorias.active{
    flex-direction: column;
    gap: 20px;
}

#mainCatalogo section .categorias.active h2{
    font-size: clamp(8px, 1vw + 1rem, 32px);
}

#mainCatalogo section .categorias.active .productos{
    display: flex;
    flex-direction: column;   
    gap: 30px;
}

#mainCatalogo section .categorias.active .productos .cards{
    border: solid 1px;
    padding: 20px;
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: repeat(4, max-content) 1fr;
    grid-template-areas: 
    "imgProd h1Prod"
    "imgProd spanProd"
    "imgProd precioProd"
    "imgProd extraProd"
    "imgProd extraProd"
    ;
    gap: 0px 20px;
    justify-items: start;
}

#mainCatalogo section .categorias.active .productos .cards img{
    grid-area: imgProd;
    display: block;
    width: 100%;
}

#mainCatalogo section .categorias.active .productos .cards h1{
    grid-area: h1Prod;
    margin: 0;
    margin-bottom: 20px;
    font-size: clamp(24px, 1vw + 0.9rem, 32px);
}

#mainCatalogo section .categorias.active .productos .cards span{
    grid-area: spanProd;
    margin-bottom: 5px;
    font-size: clamp(16px, 1vw + 0.5rem, 24px);
}

#mainCatalogo section .categorias.active .productos .cards span#precio{
    grid-area: precioProd;
}

#mainCatalogo section .categorias.active .productos .cards .extra{
    grid-area: extraProd;
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#mainCatalogo section .categorias.active .productos .cards .extra input{
    padding: 5px 0;
    font-size: 1.15rem;
    text-align: center;
}
#mainCatalogo section .categorias.active .productos .cards .extra input:focus{outline: none;}

#mainCatalogo section .categorias.active .productos .cards .extra button{padding: 5px 10px;}

#mainCatalogo section .categorias.active .paginacion{
    display: flex;
    background-color: var(--color2);
    padding: 15px 10px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 40px;
    border-radius: 15px;
    gap: 8px;
}

#mainCatalogo section .categorias.active .paginacion button{
    padding: 5px 10px;
    border: solid 1px #f0f0f0;
    background-color: #fff;
    color: #000;
    font-size: clamp( 6px, 1vw + 0.8rem, 20px);
    border-radius: 10px;
    cursor: pointer;
}

#mainCatalogo section .categorias.active .paginacion button.pagina-activa{
    background-color: var(--color6);
    color: #fff;
    border: none;
}


@media (max-width: 768px){

    #mainCatalogo{flex-direction: column; gap: 10px;}

    #mainCatalogo aside{
        width: 100%; margin-bottom: 20px;
    }

    #mainCatalogo section{
        width: 100%;
    }
}

@media (max-width: 480px){
    
    #mainCatalogo section .categorias.active .productos .cards{
        display: flex;
        flex-direction: column;
    }

    #mainCatalogo section .categorias.active .productos .cards h1{margin: 0;}
    #mainCatalogo section .categorias.active .productos .cards .extra{
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
    }

    #mainCatalogo section .categorias.active .productos .cards .extra button{width: 100%;}
}
/*=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=*/

/*=======================info.html=========================*/

#mainInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    gap: 25px;
    padding: 60px 60px 30px;
}

#mainInfo section {
    display: flex;
    flex-direction: column;
}

#mainInfo #horario,
#mainInfo #info{
    width: 46%;

}

#mainInfo #horario .horasAbierto,
#mainInfo #info .mensaje {
    flex: 1;
    padding: 0 40px;
    display: flex;
    align-items: center;
    background-color: var(--color2);
    border-radius: 0px 0px 15px 15px;
    padding: 20px 0;

    >p {
        margin: 0 auto;
    }
}

#mainInfo #horario .horasAbierto{
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.horario-encabezado{
    background-color: var(--color4);
    padding: 25px;
    border-radius: 15px 15px 0px 0px;
}
#mainInfo #info .mensaje {
    flex: 1;
}


/*=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=*/


/*=======================Pedidos.html=========================*/

/*=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=*/


.contenido-principal {
    padding: 35px 70px;
    display: flex;
    flex-wrap: wrap;

}

.subtitulo {
    margin: 35px 0 15px 0;
}


.contenedor-carrito {
    border-radius: 15px;
    height: 10rem;
    display: flex;
    width: 100%;
}

.contenido-carrito-1 {
    width: 13rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color4);
    border-radius: 15px 0 0 15px;
}

.contenido-carrito-2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color2);
    border-radius: 0 15px 15px 0;
}

.contenido-carrito-2A {
    display: flex;
    width: 100%;
    justify-content: center;
}

.contenido-carrito-2B {
    height: 100%;
    display: flex;
    align-items: end;

}

.contenido-carrito-desplegable {
    margin: 15px;
    padding: 15px;
}

.contenido-carrito-2B {
    display: flex;
    justify-content: end;
}

.contenido-pedido {
    width: 100%;
    padding: 25px;
    margin: 35px 0px;

}

.contenido-metodo-pago {
    width: 100%;
    padding: 25px;
}

.transition-boton {
    background-color: var(--color4);
    text-align: center;
}

.transition-boton:hover {
    background-color: var(--color5);
    transition: 0.2s;

    color: var(--color2);
}


.contenido-historial {
    width: 100%;
}

.contenido-historial-carta-grupal {
    display: flex;

}

.contenido-historial-carta {
    border-radius: 15px;
    margin-right: 35px;
    padding: 35px 15px;
    background-color: var(--color2);
}

.historial-lista {
    text-align: end;
    padding: 25px 25px 25px 85px;
}

.visualizar-historial {
    margin-top: 20px;
    display: flex;
    padding: 15px;
    justify-content: center;
    width: 100%;
}

.contenido-principal-horarios {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contenido-horarios {
    width: 40%;
}


/*------------------------------------------------------------------*/
/*------------------------Diseño Responsive-------------------------*/
@media (max-width:769px) {
    header .botones {
        min-width: 100%;
        justify-content: space-between;
    }

    header .botones a {
        text-decoration: none;
        color: #000;
        background-color: #FF8C42;
        padding: 5px;
        font-size: clamp(14px, 2vw + 1rem, 18px);
    }

    header .buscador {
        flex: 1;
        max-width: 70%;
        padding: 10px;
    }

    header .buscador input {
        font-size: clamp(12px, 1vw + 0.8rem, 18px);
    }




    /*========================Inicio.html========================*/

    #mainInicio .catalogo {
        gap: 5px
    }

    #mainInicio .catalogo{
        display: grid;
        grid-template-columns: repeat(2,minmax(180px, 1fr));
        justify-items: center;
        align-content: start;
        row-gap: 20px;
    }


    #mainInicio .catalogo .categorias img{
        height: clamp(190px, 35vw, 300px);
    }
    /*=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=*/
    /*=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=*/

}

@media (max-width:450px) {

    /*========================Inicio.html========================*/

    #mainInicio .catalogo{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #mainInicio .catalogo .categorias {
        width: 100%;
        display: flex;
    }

    #mainInicio .catalogo .categorias img{
        width: 90%;
        height: clamp(200px, 70vw, 300px);
    }
    /*=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=*/

}

/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
.contenido-horarios-detalle {
    border: solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
}