<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiosko</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    
    <header>
        <img src="../../img/logo 2.png" alt="Logo">
        <h1></h1>
        <div class="buscador">
            <i class="fas fa-search"></i>
            <input type="search" placeholder="Buscar">
        </div>
        <div class="botones">
            <a href="../login/login.html">Iniciar Sesion</a>
            <a href="../pedidos/pedidos.html"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </header>

    <nav>
        <ul>
            <li>
                <a href="../inicio/inicio.html">Inicio</a>
            </li>
            <li>
                <a href="../productos/catalogo.html">Productos</a>
            </li>
            <li>
                <a href="../pedidos/pedidos.html">Pedidos</a>
            </li>
            <li class="active">
                <a href="../info/info.html">Info</a>
            </li>
        </ul>
    </nav>

    <main id="mainInfo">
        <section id="horario">
            <h1>Horarios</h1>
            <span>¿Cuando Podes Retirar Tu Pedido?</span>
            <div class="calendario"><p>Calendario</p></div>
        </section>
        <section id="info">
            <h1>Más Información</h1>
            <span>¿Como Retirar tu Pedido?</span>
            <div class="mensaje"><p>Mensaje</p></div>
        </section>
    </main>
</body>