<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiosko</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <img src="../../img/logo 2.jpeg" alt="Logo">
        <h1></h1>
        <div class="buscador">
            <i class="fas fa-search"></i>
            <input type="search" placeholder="Buscar">
        </div>
        <div class="botones">
            <a href="../login/login.html">Iniciar Sesion</a>
            <a href=""><i class="fas fa-shopping-cart"></i></a>
        </div>
    </header>

    <nav>
        <ul>
            <li>
                <a href="../inicio/inicio.html">Inicio</a>
            </li>
            <li>
                <a href="../productos/catalogo.html">Productos</a>
            </li>
            <li class="active">
                <a href="../pedidos/pedidos.html">Pedidos</a>
            </li>
            <li>
                <a href="../info/info.html">Info</a>
            </li>
        </ul>
    </nav>

    <main class="contenido-principal">
        <h2 class="subtitulo">Pedidos</h2>
        <div class="contenedor-carrito">
            <div class="contenido-carrito-1">
                <h4>Carrito</h4>
            </div>
            <div class="contenido-carrito-2">
                <div class="contenido-carrito-2A">
                    <h4>*Todavía no agregaste producto productos a tu carrito*</h4>
                </div>
                <div class="contenido-carrito-2B">
                    <a href="#" class="contenido-carrito-desplegable transition-boton">Desplegar</a>
                </div>


            </div>

        </div>

        <a href="#" class="contenido-pedido transition-boton">
            Realizar pedido
        </a>
        <a href="#" class="contenido-metodo-pago transition-boton">
            Cambiar metodo de pago
        </a>

        <div class="contenido-historial">
            <h2 class="subtitulo">Historial</h2>
            <div class="contenido-historial-carta-grupal">
                <div class="contenido-historial-carta">
                    <h4>Fecha</h4>
                    <h4>Hora</h4>
                    <ul class="historial-lista">
                        <li>Producto 1</li>
                        <li>Producto 2</li>
                        <li>Producto 3</li>
                        <li>-</li>
                    </ul>
                    <h3>$99,99</h3>
                    <a href="#" class="visualizar-historial transition-boton">
                        Vizualizar
                    </a>

                </div>
                <div class="contenido-historial-carta">
                    <h4>Fecha</h4>
                    <h4>Hora</h4>
                    <ul class="historial-lista">
                        <li>Producto 1</li>
                        <li>Producto 2</li>
                        <li>Producto 3</li>
                        <li>-</li>
                    </ul>
                    <h3>$99,99</h3>
                    <a href="#" class="visualizar-historial transition-boton">
                        Vizualizar
                    </a>

                </div>
                <div class="contenido-historial-carta">
                    <h4>Fecha</h4>
                    <h4>Hora</h4>
                    <ul class="historial-lista">
                        <li>Producto 1</li>
                        <li>Producto 2</li>
                        <li>Producto 3</li>
                        <li>-</li>
                    </ul>
                    <h3>$99,99</h3>
                    <a href="#" class="visualizar-historial transition-boton">
                        Vizualizar
                    </a>
                </div>
            </div>
        </div>
    </main>
    <main class="contenido-principal">

        <div class="contenido-principal-horarios">
            <div class="contenido-horarios">
                <h2 class="subtitulo">Horarios</h2>
                <p class="subtitulo">¿Cuándo podes retirar tu pedido?</p>
                <div class="contenido-horarios-detalle">
                    <p>Calendario Semanal</p>
                </div>
            </div>
            <div class="contenido-horarios">
                <h2 class="subtitulo">Más información</h2>
                <p class="subtitulo">¿Cómo podes retirar tu pedido?</p>
                <div class="contenido-horarios-detalle">
                    <p>Mensaje</p>
                </div>
            </div>
        </div>



    </main>
</body>

</html>