<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiosco</title>
    <link rel="stylesheet" href="../../../src/css/style.css">
    <link rel="stylesheet" href="../../css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body id="admin">
    <header>
        <img src="../../../src/logo.webp" alt="Logo">
        <h1></h1>
        <div class="buscador">
            <i class="fas fa-search"></i>
            <input type="search" placeholder="Buscar">
        </div>
        <div class="botones">
            <a id="adminBtn">Brandan<i class="fas fa-user-tie"></i></a>
            <!--<a id="adminBtn"><i class="fas fa-user-tie"></i></a>-->

            <div class="desplegableUser">
                <h2>Administrador</h2>
                <a href="../gestion/productos.html">Modificar</a>
                <a>Cerrar Sesion</a>
            </div>
            <a href="../pedidos/pedidos.html"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </header>

    <nav id="gestion">
        <ul>
            <li>
                <a href="../inicio/inicio.html"><i class="fa-solid fa-arrow-left"></i></a>
            </li>
            <li>
                <a href="../gestion/productos.html">Gestionar Productos</a>
            </li>
            <li class="active">
                <a href="../gestion/pedidos.html">Pedidos</a>
            </li>
            <li>
                <a href="../gestion/estadisticas.html">Estadisticas</a>
            </li>
        </ul>
    </nav>
    <main id="mainPedidosG">
        <aside>
            <div class="searchContainer">
                <input type="search" placeholder="Buscar Producto">
                <i class="fa-solid fa-magnifying-glass"></i>
                <button>Buscar</button>
            </div>
            <ul>
                <li>
                    <button>Todos</button>
                </li>
                <li>
                    <button>Pedidos Retirados</button>
                </li>
                <li>
                    <button>Pedidos Sin Retirar</button>
                </li>
            </ul>
        </aside>
        <section>
            <div class="pedidosCard retirado">
                <ul>
                    <li>Producto</li>
                    <li>Cantidad</li>
                    <li>Monto</li>
                    <li>Metodo de Pago</li>
                    <li>Fecha/hora</li>
                    <li>Codigo</li>
                </ul>
                
            </div>
            <div class="pedidosCard retiradoN">
                <ul>
                    <li>Producto</li>
                    <li>Cantidad</li>
                    <li>Monto</li>
                    <li>Metodo de Pago</li>
                    <li>Fecha/hora</li>
                    <li>Codigo</li>
                </ul>
            </div>
            <div class="pedidosCard retirado">
                <ul>
                    <li>Producto</li>
                    <li>Cantidad</li>
                    <li>Monto</li>
                    <li>Metodo de Pago</li>
                    <li>Fecha/hora</li>
                    <li>Codigo</li>
                </ul>
                
            </div>
            <div class="pedidosCard retiradoN">
                <ul>
                    <li>Producto</li>
                    <li>Cantidad</li>
                    <li>Monto</li>
                    <li>Metodo de Pago</li>
                    <li>Fecha/hora</li>
                    <li>Codigo</li>
                </ul>
            </div>
            <div class="pedidosCard retirado">
                <ul>
                    <li>Producto</li>
                    <li>Cantidad</li>
                    <li>Monto</li>
                    <li>Metodo de Pago</li>
                    <li>Fecha/hora</li>
                    <li>Codigo</li>
                </ul>
                
            </div>
            <div class="pedidosCard retiradoN">
                <ul>
                    <li>Producto</li>
                    <li>Cantidad</li>
                    <li>Monto</li>
                    <li>Metodo de Pago</li>
                    <li>Fecha/hora</li>
                    <li>Codigo</li>
                </ul>
            </div>
            <div class="pedidosCard retirado">
                <ul>
                    <li>Producto</li>
                    <li>Cantidad</li>
                    <li>Monto</li>
                    <li>Metodo de Pago</li>
                    <li>Fecha/hora</li>
                    <li>Codigo</li>
                </ul>
                
            </div>
            <div class="pedidosCard retiradoN">
                <ul>
                    <li>Producto</li>
                    <li>Cantidad</li>
                    <li>Monto</li>
                    <li>Metodo de Pago</li>
                    <li>Fecha/hora</li>
                    <li>Codigo</li>
                </ul>
            </div>
        </section>
    </main>
    <script src="../../js/inicio.js"></script>
    <script src="../../js/nav.js"></script>
</body>